<div class="form-group">
  <div *ngIf="selectedMember">
    <div>
      <label for="membershipNumber">Membership number: </label>
      <label id="membershipNumber">{{selectedMember.membershipNumber}}</label>
    </div>
    <div>
      <label for="firstNameInput">Firstname: </label>
      <input id="firstNameInput" [(ngModel)]="selectedMember.firstName" placeholder="firstname"/>
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="selectedMember.name" placeholder="name"/>
    </div>
  </div>

  <ul>
    <li *ngFor="let member of members" (click)="onSelect(member)">
      <span>{{member.firstName}}</span> <span>{{member.name}}</span>
    </li>
  </ul>

</div>
