<div *ngIf="member">
  <div>
    <label for="membershipNumber">Membership number: </label>
    <label id="membershipNumber">{{member.membershipNumber}}</label>
  </div>
  <div>
    <label for="firstNameInput">Firstname: </label>
    <input id="firstNameInput" [(ngModel)]="member.firstName" placeholder="firstname" class="form-control"/>
  </div>
  <div>
    <label for="nameInput">Name: </label>
    <input id="nameInput" [(ngModel)]="member.name" placeholder="name" class="form-control"/>
  </div>
</div>
