<div class="container">
  <h1>Member registration</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="member.name" id="name" required name="name">
    </div>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div>
      <label for="sex">Sex</label>
      <select class="form-control" id="sex" required>
        <option *ngFor="let sex of sex" [value]="sex">{{sex}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
