.label, label.inline {
  display: inline-block;
  width: 100px;
}

.label::after {
  content: "\00a0\00a0";
}

.form-group.margin {
  margin-bottom: 5px;
}

.registrationForm {
  background-color: beige;
  padding:2em;
  border-radius: 25px;
}

.registrationFormBtnGroup {
  margin-left:100px;
}
