<div class="container registrationForm">
  <h3>Member registration</h3>
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <div class="form-group form-inline margin">
      <label for="userName" class="label text-sm-right">Username</label>
      <input type="text" class="form-control form-control-sm col-sm-4" [(ngModel)]="member.account.userName" id="userName" required name="userName">
    </div>
    <div class="form-group form-inline margin">
      <label for="name" class="label text-sm-right">Name</label>
      <input type="text" class="form-control form-control-sm col-sm-4" [(ngModel)]="member.name" id="name" required name="name">
    </div>
    <div class="form-group form-inline margin">
      <label for="firstName" class="label text-sm-right">First name</label>
      <input type="text" class="form-control form-control-sm col-sm-4" [(ngModel)]="member.firstName" id="firstName" required name="firstName">
    </div>
    <div class="form-group form-inline margin">
      <label for="zipCode" class="label text-sm-right">Zipcode</label>
      <input type="text" class="form-control form-control-sm col-sm-4" [(ngModel)]="member.locationContext.zipCode" id="zipCode" required name="zipCode">
    </div>
    <div class="form-group form-inline margin">
      <label for="municipality" class="label text-sm-right">Municipality</label>
      <input type="text" class="form-control form-control-sm col-sm-4" [(ngModel)]="member.locationContext.municipality" id="municipality" required name="municipality">
    </div>
    <!--<div>-->
      <!--<div class="form-group form-inline margin">-->
        <!--<label for="province" class="label text-sm-right">Province</label>-->
        <!--<select class="form-control form-control-sm col-sm-4" id="province" required [(ngModel)]="member.locationContext.province" name="province">-->
          <!--<option *ngFor="let province of province" [ngValue]="province">{{province}}</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div>-->
      <!--<div class="form-group form-inline margin">-->
      <!--<label for="sex" class="label text-sm-right">Sex</label>-->
      <!--<select class="form-control form-control-sm col-sm-4" id="sex" name="sex" [(ngModel)]="member.sex" required>-->
        <!--<option *ngFor="let sex of sex" [ngValue]="sex">{{sex}}</option>-->
      <!--</select>-->
      <!--</div>-->
    <!--</div>-->
    <div class="btn-group col-xs-3 registrationFormBtnGroup">
      <button type="submit" class="btn btn-success">Register</button>&nbsp;
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>
  </form>
</div>
