<div class="container registrationForm">
  <h3>Member registration</h3>
  <form [formGroup]="memberRegistrationForm" (ngSubmit)="registerMember(memberRegistrationForm.value)">
    <div class="form-group form-inline margin">
      <label for="userName" class="label text-sm-right">Username</label>
      <input id="userName" type="text" formControlName="userName" class="form-control form-control-sm col-sm-4">
    </div>
    <div class="form-group form-inline margin">
      <label for="firstName" class="label text-sm-right">First name</label>
      <input id="firstName" type="text" formControlName="firstName" class="form-control form-control-sm col-sm-4">
    </div>
    <div class="form-group form-inline margin">
      <label for="name" class="label text-sm-right">Name</label>
      <input id="name" type="text" formControlName="name" class="form-control form-control-sm col-sm-4">
    </div>
    <div class="form-group form-inline margin">
      <label for="zipCode" class="label text-sm-right">Zipcode</label>
      <input id="zipCode" type="text" formControlName="zipCode" class="form-control form-control-sm col-sm-4">
    </div>
    <div class="form-group form-inline margin">
      <label for="municipality" class="label text-sm-right">Municipality</label>
      <input id="municipality" type="text" formControlName="municipality" class="form-control form-control-sm col-sm-4" >
    </div>
    <div class="form-group form-inline margin">
      <label class="label text-sm-right">Province</label>
      <md-select formControlName="province" placeholder="Province">
        <md-option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</md-option>
      </md-select>
    </div>
    <div class="form-group form-inline margin">
      <label class="label text-sm-right">Picture</label>
      <input formControlName="profilePicture" type="file" (change)="uploadProfilePicture($event)" placeholder="Upload profile picture" accept=".png,.jpg,.jpeg">
    </div>
    <!--<div>-->
      <!--<div class="form-group form-inline margin">-->
        <!--<label class="label text-sm-right">Province</label>-->
        <!--<p-autoComplete id="province" formControlName="province" [dropdown]="true" [size]="37" [suggestions]="filteredProvinces" field="name" (completeMethod)="filterProvinces($event)" [minLength]="1">-->
        <!--</p-autoComplete>-->
      <!--</div>-->
    <!--</div>-->
    <div class="btn-group col-xs-3 registrationFormBtnGroup">
      <button type="submit" class="btn btn-success">Register</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>

    <!--<md-input-container>-->
      <!--<input mdInput [mdAutocomplete]="auto" >-->
    <!--</md-input-container>-->

    <!--<md-autocomplete #auto="mdAutocomplete" >-->
      <!--<md-option *ngFor="let province of filteredProvincess | async" [value]="province.name">-->
        <!--{{ province.name }}-->
      <!--</md-option>-->
    <!--</md-autocomplete>-->
  </form>
<p>Form value: {{ memberRegistrationForm.value | json }}</p>
<p>Form status: {{ memberRegistrationForm.status | json }}</p>
</div>


